.vscode/**
.vscode-test/**
.idea/**
.claude/**
.codegraph/**
.rtk/**
openspec/**
src/**
.gitignore
.github/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/biome.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
.env*
build/**
makefile
docs/images/**
CODEOWNERS
Makefile
